.content{
    background: rgba(0, 0, 0, 0) url("../images/1093324.jpg") no-repeat fixed center center / cover ;
    text-align: center;
}
body {
    font-family: 'PT Sans', sans-serif !important;
    margin: 0;
    padding: 350px 0;
    color: #000;
    font-size:100%;
    letter-spacing: 1px;
}
.tagname{
    color: #38dcbb;
    font-size: 70px;
    font-weight: 900;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 50px;
    text-shadow: 2px 2px 5px rgb(255, 254, 254);
}
.animation-area {
	background: linear-gradient(to left, #000000, #9e9e9e);
	width: 100%;
	height: 100vh;
}
.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}

